<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" v-model="item.name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" v-model="item.email" required>
        </div>
        <div class="form-group">
          <label for="user_type">Tipo de Usuario</label>
          <select class="form-control" id="user_type" v-model="item.user_type" required>
              <option value="">Selecciona un tipo</option>
              <option v-for="data in user_types" :key="'user_type-'+data.id" :value="data.id">{{data.type}}</option>
          </select>
        </div>
        <div class="form-group" v-if="item.user_type == 3">
          <label for="customer_id">Cliente</label>
          <input
            type="text"
            id="customer_id"
            class="form-control"
            v-model="item.customer.name"
            @keyup="search('findItem','customer')"
          >
          <div class="search-list" v-if="!item.customer_id">
            <div class="list-group">
              <div
                class="list-group-item p-2"
                :key="data.id"
                v-for="data in customers"
                @click="selectItem('customer',data)"
              >
                <b>{{data.name}}</b>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" v-if="!isUpdate">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            v-model="item.password"
            required
          >
        </div>
        <div class="form-group" v-if="!isUpdate">
          <label for="c_password">Confirmar Password</label>
          <input
            type="password"
            class="form-control"
            id="c_password"
            v-model="item.c_password"
            required
          >
        </div>
        <div v-if="item.user_type!=3" class="form-check" v-for="(data,index) in permissions" :key="'permission-'+index">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              v-model="data.has_permission"
              @change="data.has_permission ? addPermission(data) : deletePermission(data)"
            >
            {{data.description}}
          </label>
        </div>
        <div class="text-right">
          <router-link :to="{ path:'/gestion/usuarios' }" class="btn btn-warning" v-if="!isModal">Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { permissions: [],user_type:"", customer_id:null, customer:{name:""} },
      customers:[],
      permissions: [],
      user_types: Util.user_types
    };
  },
  methods: {
    search: _.debounce(function(callback, type) {
      this[callback](type);
    }, 600),
    async findItem(type) {
      this.item[type + "_id"] = "";
      if (!this.item[type].name) {
        this[type + "s"] = [];
        return;
      }
      const search = {
        filters:[
          {
            field: "name",
            logic: "like",
            value: `%${this.item[type].name}%`
          }
        ]
      } 
      let [, items] = await Util.fetch({
        url: "/api/" + type + "s",
        params: { search }
      });
      if (items) this[type + "s"] = items;
      else this[type + "s"] = [];
    },
    selectItem(type, data) {
      this.item[type + "_id"] = data.id;
      this.item[type] = data;
      this.item[type + "s"] = [];
    },
    async addPermission(permission) {
      if (this.isUpdate) {
        let [err, res] = await Util.fetch({
          url: "/api/user_permissions",
          method: "post",
          data: { user_id: this.item.id, permission_id: permission.id }
        });
        permission.has_permission = true;
        permission.permission_id = res.data.id;
      }
    },
    async deletePermission(permission) {
      if (this.isUpdate) {
        let [err, res] = await Util.fetch({
          url: `/api/user_permissions/${permission.permission_id}`,
          method: "delete"
        });
        permission.has_permission = false;
        permission.permission_id = null;
      }
    },
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/users/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/usuarios");
        else {
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      if (
        this.item.password !== this.item.c_password ||
        this.item.password.length <= 0
      ) {
        this.password = "";
        this.password_confirmation = "";
        return alert("Las contraseñas no coinciden");
      }
      this.item.permissions = [];
      this.permissions.forEach(permission => {
        if (permission.has_permission) {
          this.item.permissions.push({ permission_id: permission.id });
        }
      });
      let [err, res] = await Util.fetch({
        url: "/api/users",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/usuarios");
        else {
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    let vm = this;
    let [, permissions] = await Util.fetch({ url: "/api/permissions" });
    if (permissions) this.permissions = permissions;
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/users/${this.$route.params.id}`
      });
      item.user_permissions.forEach(permission => {
        let item = vm.permissions.find(
          item => item.id == permission.permission_id
        );
        item.has_permission = true;
        item.permission_id = permission.id;
      });
      if(!item.customer) item.customer = {name:""}
      this.item = item;
    }
  }
};
</script>