<template>
  <div class="card">
    <div class="card-body">
      <form v-on:submit.prevent="update()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" v-model="item.name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" v-model="item.email" required>
        </div>
        <div class="form-group">
          <label for="password">Password Actual</label>
          <input type="password" class="form-control" id="password" v-model="item.password">
        </div>
        <div class="form-group">
          <label for="n_password">Nuevo Password</label>
          <input type="password" class="form-control" id="n_password" v-model="item.n_password">
        </div>
        <div class="form-group">
          <label for="c_password">Confirmar Password</label>
          <input type="password" class="form-control" id="c_password" v-model="item.c_password">
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      item: JSON.parse(localStorage.getItem("app.user")),
      isUpdating: false
    };
  },
  beforeMount(){
      this.item = this.$store.state.user
  },
  methods: {
    async update() {
      if (this.isUpdating) return;
      if (this.item.n_password) {
        if (
          this.item.n_password != this.item.c_password ||
          !this.item.password
        ) {
          return alert("Los passwords no coinciden");
        }
      }
      this.isUpdating = true;
      let [err, res] = await Util.fetch({
        url: `/api/users/${this.item.id}/settings`,
        method: "put",
        data: this.item
      });
      this.isUpdating = false;
      this.item.password = "";
      this.item.n_password = "";
      this.item.c_password = "";
      this.$store.commit('updateUser', this.item);
    }
  }
};
</script>