<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" v-model="item.name" required>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="buy_price">Precio de Compra</label>
            <input
              type="number"
              class="form-control"
              id="buy_price"
              v-model="item.buy_price"
              step="any"
            >
          </div>
          <div class="col-md-6 form-group">
            <label for="sell_price">Precio de Venta</label>
            <input
              type="number"
              class="form-control"
              id="sell_price"
              v-model="item.sell_price"
              step="any"
            >
          </div>
          <!-- <div class="form-group col-lg-6">
            <div>
              <label for="type">Diseños</label>
            </div>
            <div class="input-group">
              <select id="type" class="form-control" v-model="design">
                <option value>Seleccionar diseño</option>
                <option
                  :value="data"
                  v-for="(data,index) in designs"
                  :key="'design-'+index"
                >{{ data.name }}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" @click="addItem('design')">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <small
              class="form-text text-muted"
              v-if="!item.designs.length"
            >Haz clic en el boton '+' para agregar los diseños disponibles</small>
            <div class="container-fluid">
              <span
                class="tag-item p-2 pointer"
                v-for="(data,index) in item.designs"
                :key="'fabric-designs-'+index"
                @click="deleteItem('designs',index)"
              >
                <b>{{ data.design.name }}</b>
                <i class="float-right ml-2">&times;</i>
              </span>
            </div>
          </div>
          <div class="form-group col-lg-6">
            <div>
              <label for="color">Colores de Tela</label>
            </div>
            <div class="input-group">
              <select id="color" class="form-control" v-model="color">
                <option value>Seleccionar color</option>
                <option :value="data" v-for="(data,index) in colors" :key="'color-'+index">{{ data.name }}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" @click="addItem('color')">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <small
              class="form-text text-muted"
              v-if="!item.colors.length"
            >Haz clic en el boton '+' para agregar un color</small>
            <div class="container-fluid">
              <span
                class="tag-item p-2 pointer text-shadow"
                v-for="(data,index) in item.colors"
                :key="index"
                @click="deleteItem('colors',index)"
                :style="{color: data.color.value}"
              >
                <b>{{ data.color.name }}</b>
                <i class="float-right ml-2">&times;</i>
              </span>
            </div>
          </div> -->
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/gestion/telas' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { name: "", designs: [], colors: [] },
      designs: [],
      colors: [],
      design: "",
      color: ""
    };
  },
  methods: {
    /*async addItem(type) {
      if (!this[type]) return;
      const item = this[type];
      const data = {
        [type]: JSON.parse(JSON.stringify(item)),
        [type + "_id"]: item.id
      };
      const url = "/api/fabric_" + type + "s";
      if (this.isUpdate) {
        data.fabric_id = this.item.id;
        let [err, res] = await Util.fetch({ url, method: "post", data });
        data.id = res.data.id;
      }
      this.item[type + "s"].push(data);
      this[type] = "";
    },
    async deleteItem(type, index) {
      if (this.isUpdate) {
        const url = "/api/fabric_" + type + "/" + this.item[type][index].id;
        let [err, res] = await Util.fetch({ url, method: "delete" });
      }
      this.item[type].splice(index, 1);
    },*/
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/fabrics/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/telas");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/fabrics",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/telas");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    let [, designs] = await Util.fetch({ url: "/api/designs" });
    if (designs) this.designs = designs;
    let [, colors] = await Util.fetch({ url: "/api/colors" });
    if (colors) this.colors = colors;
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/fabrics/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>
<style scoped>
.tag-item {
  display: inline-block;
}
.tag-item.text-shadow {
  text-shadow: 1px 1px 1px #999;
}
</style>