<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th class="text-right" scope="col">Total</th>
            <th class="text-right" scope="col">Saldo</th>
            <th class="text-right" scope="col">Comisión</th>
            <th class="text-right" scope="col">Ganancia</th>
            <th scope="col">Vendedor</th>
            <th scope="col" class="text-right">
              <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                <i class="fas fa-plus"></i>
              </router-link>
              <button class="btn btn-light btn-sm" @click="getItems()">
                <i class="fas fa-sync"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data,index) in item.sales" :key="index" :class="{'table-success':data.status==2,'table-warning':data.status==1,'table-danger':data.status==0}">
            <router-link tag="th" scope="row" :to="{ path:'/reporte/ventas/'+data.id.toString() }" append>{{data.id}}</router-link>
            <router-link
              tag="td"
              scope="row"
              :to="{ path:'/reporte/ventas/'+data.id.toString() }"
              append
            >{{getDate(data.created_at)}}</router-link>
            <router-link
              class="text-right"
              tag="td"
              scope="row"
              :to="{ path:'/reporte/ventas/'+data.id.toString() }"
              append
            >{{data.total | currency}} {{data.currency==1?'MXN':'USD'}}</router-link>
            <router-link
              class="text-right"
              tag="td"
              scope="row"
              :to="{ path:'/reporte/ventas/'+data.id.toString() }"
              append
            >{{data.balance | currency}} {{data.currency==1?'MXN':'USD'}}</router-link>
            <router-link
              class="text-right"
              tag="td"
              scope="row"
              :to="{ path:'/reporte/ventas/'+data.id.toString() }"
              append
            >{{data.commission | currency}} {{data.currency==1?'MXN':'USD'}}</router-link>
            <router-link
              class="text-right"
              tag="td"
              scope="row"
              :to="{ path:'/reporte/ventas/'+data.id.toString() }"
              append
            >{{data.revenue - data.commission | currency}} {{data.currency==1?'MXN':'USD'}}</router-link>
            <router-link
              tag="td"
              scope="row"
              :to="{ path:'/reporte/ventas/'+data.id.toString() }"
              append
            >{{data.user.name}}</router-link>
            <td class="text-right">
              <button
                class="btn btn-info btn-sm"
                data-toggle="modal"
                :data-target="'#send-invoice-'+data.id"
                @click="initRecipients(data)"
              >
                <i class="fas fa-envelope" style="color:white"></i>
              </button>
              <button class="btn btn-secondary btn-sm" @click="downloadSale(data)">
                <i class="fas fa-download"></i>
              </button>
              <button class="btn btn-danger btn-sm" @click="deleteItem(data,index)">
                <i class="fas fa-trash"></i>
              </button>

              <div class="modal fade" :id="'send-invoice-'+data.id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      Destinatarios
                      <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form @submit.prevent="addRecipient()">
                        <div class="form-group">
                          <div class="input-group">
                            <input
                              type="email"
                              class="form-control"
                              placeholder="Email"
                              v-model="recipient"
                            >
                            <div class="input-group-append">
                              <button class="btn btn-success">
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      <table class="table">
                        <tr v-for="(data,index) in recipients" :key="index">
                          <th class="text-left">{{data}}</th>
                          <td class="text-right">
                            <button class="btn btn-danger btn-sm" @click="deleteRecipient(index)">
                              <i class="fas fa-trash"></i>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="modal-footer text-right">
                      <button class="btn btn-warning" type="button" data-dismiss="modal">Cancelar</button>
                      <button
                        class="btn btn-success"
                        @click="sendSale(data)"
                        data-dismiss="modal"
                        v-if="recipients.length"
                      >Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <!-- <tr class="table-info" v-for="(data,index) in totals" :key="'totals-'-index">
            <th>Totales ({{data.currency==1?'MXN':'USD'}})</th>
            <td colspan="1"></td>
            <th class="text-right">{{data.total | currency}} {{data.currency==1?'MXN':'USD'}}</th>
            <th class="text-right">{{data.balance | currency}} {{data.currency==1?'MXN':'USD'}}</th>
            <th class="text-right">{{data.commission | currency}} {{data.currency==1?'MXN':'USD'}}</th>
            <th class="text-right">{{data.revenue - data.commission| currency}} {{data.currency==1?'MXN':'USD'}}</th>
            <td colspan="3"></td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { name: "" },
      totals: [],
      recipients: [],
      recipient: ""
    };
  },
  methods: {
    getDate(date) {
      let saleDate = new Date(date);
      let day =
        saleDate.getDate() < 10 ? "0" + saleDate.getDate() : saleDate.getDate();
      let month =
        saleDate.getMonth() + 1 < 10
          ? "0" + (saleDate.getMonth() + 1)
          : saleDate.getMonth() + 1;
      return `${day}/${month}/${saleDate.getFullYear()}`;
    },
    async downloadSale(data) {
      let downloadingSale = axios
        .get(`/api/sales/${data.id}/pdf`, { responseType: "arraybuffer" })
        .then(response => response);
      let result = await downloadingSale;
      this.downloadSalePdf(result, `Venta #${data.id}`);
    },
    downloadSalePdf(response, filename) {
      var newBlob = new Blob([response.data], { type: "application/pdf" });
      if (window.navigator && window.navigator.msSaveOrOpenBlob) {
        window.navigator.msSaveOrOpenBlob(newBlob);
        return;
      }
      const data = window.URL.createObjectURL(newBlob);
      var link = document.createElement("a");
      link.href = data;
      link.download = filename + ".pdf";
      link.click();
      setTimeout(function() {
        window.URL.revokeObjectURL(data);
      }, 100);
    },
    addRecipient() {
      this.recipients.push(this.recipient);
      this.recipient = "";
    },
    deleteRecipient(index) {
      this.recipients.splice(index, 1);
    },
    async sendSale(sale) {
      let sendingSale = axios
        .post(`/api/sales/${sale.id}/email`, { recipients: this.recipients })
        .then(response => response.data);
      let result = await sendingSale;
    },
    initRecipients(sale) {
      this.recipients = [];
      if (this.item.email) {
        this.recipient = this.item.email;
        this.addRecipient();
      }
    }
  },
  async beforeMount() {
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/customers/${this.$route.params.id}?balance=true`
      });
      this.item = item;
    }
  }
};
</script>