<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <div class="row">
        <form class="col-lg-6" @submit.prevent="search('findItem','customer')" autocomplete="off">
          <div class="form-group">
            <label for="customer_id">Cliente</label>
            <input
              type="text"
              id="customer_id"
              class="form-control"
              v-model="item.customer.name"
              @keyup="search('findItem','customer')"
            >
            <div class="search-list" v-if="!item.customer_id">
              <div class="list-group">
                <div
                  class="list-group-item p-2"
                  :key="data.id"
                  v-for="data in customers"
                  @click="selectItem('customer',data)"
                >
                  <b>{{data.name}}</b>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form class="col-lg-6" @submit.prevent="saveOrUpdate()">
          <div class="row">
            <div class="form-group" :class="{'col-lg-6':!isUpdate,'col-lg-12':isUpdate}">
              <label for="currency">Tipo de Cambio</label>
              <select id="currency" class="form-control" v-model="item.currency" required>
                <option value v-if="!isUpdate">Selecciona un tipo de cambio</option>
                <option
                  :value="data.id"
                  v-for="(data,index) in currencies"
                  :key="'currency-'+index"
                  :disabled="item.payments.length > 0"
                >{{ data.name }}</option>
              </select>
            </div>
            <div class="form-group col-lg-6" v-if="!isUpdate">
              <label for="stock">Almacen</label>
              <div class="form-check">              
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" v-model="item.update_stock">Descontar de almacen
                </label>
              </div>
            </div>
          </div>
          <button type="submit" style="display:none" id="save"></button>
        </form>
        <form
          class="col-lg-12"
          @submit.prevent="search('findItem','fabric_pattern')"
          autocomplete="off"
          v-if="!isUpdate"
        >
          <div class="form-group">
            <label for="fabric_pattern_id">Modelo</label>
            <input
              type="text"
              id="fabric_pattern_id"
              class="form-control"
              v-model="item.fabric_pattern.name"
              @keyup="search('findItem','fabric_pattern')"
              required
            >
            <div class="search-list" v-if="!item.fabric_pattern_id">
              <div class="list-group">
                <div
                  class="list-group-item p-2"
                  :key="data.id"
                  v-for="data in fabric_patterns"
                  @click="selectItem('fabric_pattern',data);article.price = item.fabric_pattern.fabric.sell_price"
                >
                  <b>{{data.name}}</b>
                  <div class="image-container float-right" v-if="data.image">
                      <img :src="data.image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <form @submit.prevent="addItem()" class="row" v-if="!isUpdate">
        <div class="form-group col-lg-3">
          <label for="article-quantity">Cantidad {{ item.fabric_pattern_id ? '(m)':''}}</label>
          <input
            type="number"
            class="form-control"
            v-model="article.quantity"
            step="any"
            required
            @keyup="article.total = article.quantity * article.price"
          >
        </div>
        <div class="form-group col-lg-3">
          <label for="article-price">Precio {{ item.fabric_pattern_id ? 'x metro':'unitario'}}</label>
          <input
            type="number"
            class="form-control"
            v-model="article.price"
            step="any"
            required
            @keyup="article.total = article.quantity * article.price"
          >
        </div>
        <div class="form-group col-lg-3 text-right">
          <label>Total</label>
          <p class="form-control-static">
            <b>{{article.total | currency}}</b>
          </p>
        </div>
        <div class="form-group col-lg-12 text-right">
          <button class="btn btn-secondary">Agregar</button>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th colspan="6">Articulos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Cantidad</th>
              <th scope="col">Articulo</th>
              <th scope="col" class="text-right">P.U.</th>
              <th scope="col" class="text-right">Importe</th>
              <th scope="col"></th>
            </tr>
            <tr
              v-for="(data,index) in item.articles"
              :key="index"
              :class="{'cancelled':data.deleted_at}"
            >
              <th scope="row">{{index+1}}</th>
              <td class="text-center">{{data.quantity}}</td>
              <td v-if="!data.description">
                <div
                  class="img-container-sm"
                  v-if="data.fabric_pattern && data.fabric_pattern.image"
                >
                  <img :src="data.fabric_pattern.image" class="img-fluid">
                </div>
                {{data.fabric_pattern ? data.fabric_pattern.sku : ''}}
                {{data.fabric_pattern && data.fabric_pattern.fabric ? data.fabric_pattern.fabric.name : ''}}
                {{data.fabric_pattern && data.fabric_pattern.design ? data.fabric_pattern.design.name : ''}}
                {{data.fabric_pattern && data.fabric_pattern.color ? data.fabric_pattern.color.name : ''}}
              </td>
              <td v-else>{{data.description}}</td>
              <td class="text-right">{{data.price}}</td>
              <td class="text-right">{{data.total}}</td>
              <td class="text-right">
                <b v-if="data.deleted_at">Cancelado por {{data.user.name}}</b>
                <button
                  class="btn btn-danger btn-sm"
                  type="button"
                  @click="deleteItem(index)"
                  v-if="!data.deleted_at"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 text-right">
          <h4>
            <span class="float-left">Total:</span>
            {{item.total | currency}}
          </h4>
          <h4>
            <span class="float-left">Saldo:</span>
            {{item.balance | currency}}
          </h4>
          <h4 v-if="item.commission > 0">
            <span class="float-left">Comision:</span>
            {{item.commission | currency}}
          </h4>
        </div>
      </div>
      <div class="text-right">
        <router-link :to="{ path:'/reporte/ventas' }" class="btn btn-warning" v-if="!isModal">Cancelar</router-link>
        <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#payments"
          v-if="(item.articles.length && item.currency) || item.payments.length"
        >Pagos</button>
        <label
          for="save"
          class="btn"
          :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          v-if="item.articles.length"
        >Guardar</label>
      </div>
    </div>
    <div class="modal fade" id="payments" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Pagos
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="addPayment()">
              <div class="form-group">
                <label for="amount_mxn">Cantidad (MXN)</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount_mxn"
                  v-model="payment.amount_mxn"
                  required
                  step="any"
                >
              </div>
              <div class="form-group" v-if="item.currency == 2">
                <label for="amount_usd">Cantidad (USD)</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount_usd"
                  v-model="payment.amount_usd"
                  required
                  step="any"
                >
              </div>
              <div class="table-responsive">
                <table class="table">
                  <tr v-for="(data,index) in item.payments" :key="'payment-'+index">
                    <td>{{data.created_at ? getDate(data.created_at) : getDate()}}</td>
                    <td class="text-right">{{data.amount_mxn | currency}} MXN</td>
                    <td class="text-right" v-if="item.currency == 2">{{data.amount_usd | currency}} USD</td>
                    <td class="text-right">
                      <button
                        class="btn btn-danger btn-sm"
                        type="button"
                        @click="deletePayment(index)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-warning" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary">Agregar Pago</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: {
        update_stock: true,
        customer_id: null,
        balance: 0,
        total: 0,
        revenue: 0,
        commission:0,
        articles: [],
        payments: [],
        currency: 1,
        customer: { name: "" },
        fabric_pattern: { name: "" },
        fabric_pattern_id: ""
      },
      payment: { amount_mxn: null, amount_usd: null },
      currencies: Util.currencies,
      article: {
        description: null,
        quantity: null,
        price: null,
        total: 0,
        revenue: 0,
        commission:0
      },
      fabric_patterns: [],
      customers: []
    };
  },
  methods: {
    getDate(date = new Date()) {
      let saleDate = new Date(date);
      let day =
        saleDate.getDate() < 10 ? "0" + saleDate.getDate() : saleDate.getDate();
      let month =
        saleDate.getMonth() + 1 < 10
          ? "0" + (saleDate.getMonth() + 1)
          : saleDate.getMonth() + 1;
      return `${day}/${month}/${saleDate.getFullYear()}`;
    },
    search: _.debounce(function(callback, type) {
      this[callback](type);
    }, 600),
    async addPayment() {
      const url = "/api/sale_payments";
      if (this.isUpdate) {
        this.payment.sale_id = this.item.id;
        let [err, res] = await Util.fetch({
          url,
          method: "post",
          data: this.payment
        });
        this.payment.id = res.data.id;
      }
      this.item.payments.push(JSON.parse(JSON.stringify(this.payment)));
      (this.payment.amount_mxn = null),
        (this.payment.amount_usd = null),
        this.updateTotal();
    },
    async deletePayment(index) {
      if (this.isUpdate) {
        const url = "/api/sale_payments/" + this.item.payments[index].id;
        let [err, res] = await Util.fetch({ url, method: "delete" });
      }
      this.item.payments.splice(index, 1);
      this.updateTotal();
    },
    async findItem(type) {
      this.item[type + "_id"] = "";
      if (!this.item[type].name) {
        this[type + "s"] = [];
        return;
      }
      const search = {};
      if (type == "customer") {
        search.filters = [
          {
            field: "name",
            logic: "like",
            value: `%${this.item[type].name}%`
          }
        ];
      } else if (type == "fabric_pattern") {
        search.name = this.item[type].name;
      }
      let [, items] = await Util.fetch({
        url: "/api/" + type + "s",
        params: { search }
      });
      if (items) this[type + "s"] = items;
      else this[type + "s"] = [];
    },
    selectItem(type, data) {
      this.item[type + "_id"] = data.id;
      this.item[type] = data;
      this.item[type + "s"] = [];
      if (type == "fabric_pattern") {
        this.article.total = 0;
      }
    },
    updateTotal() {
      const vm = this;
      this.item.total = 0;
      this.item.revenue = 0;
      this.item.commission = 0;
      this.item.articles.forEach(element => {
        if (!element.deleted_at) {
          vm.item.total += parseFloat(element.total);
          vm.item.revenue += parseFloat(element.revenue);
          vm.item.commission += parseFloat(element.commission);
        }
      });
      this.item.balance = this.item.total;
      this.item.payments.forEach(element => {
        vm.item.balance =
          vm.item.currency == 1
            ? vm.item.balance - element.amount_mxn
            : vm.item.balance - element.amount_usd;
      });
    },
    async addItem() {
      if (!this.item.fabric_pattern && !this.article.description) return;
      if (!this.item.fabric_pattern_id && this.item.fabric_pattern.name) {
        this.article.description = this.item.fabric_pattern.name;
      } else this.article.description = null;
      if (this.article.description) this.item.fabric_pattern_id = null;
      const item = this.item.fabric_pattern;
      if(item.fabric && item.fabric.buy_price){
        this.article.revenue = this.article.total - (this.article.quantity * item.fabric.buy_price);
      }
      const data = {
        fabric_pattern: JSON.parse(JSON.stringify(item)),
        fabric_pattern_id: this.item.fabric_pattern_id,
        description: this.article.description,
        quantity: this.article.quantity,
        price: this.article.price,
        total: this.article.total,
        revenue: this.article.revenue,
        commission: this.$store.state.user.user_type == 2 ? this.article.total * 0.03 : 0
      };
      const url = "/api/sale_articles";
      if (this.isUpdate) {
        data.sale_id = this.item.id;
        let [err, res] = await Util.fetch({ url, method: "post", data });
        data.id = res.data.id;
      }
      (this.article.description = null),
        (this.article.quantity = null),
        (this.article.price = null),
        (this.article.total = 0);
        (this.article.revenue = 0);
        (this.article.commission = 0);
      this.item.articles.push(data);
      this.fabric_patterns = [];
      this.item.fabric_pattern.name = "";
      this.item.fabric_pattern_id = "";
      this.updateTotal();
    },
    async deleteItem(index) {
      if (this.isUpdate) {
        const url = "/api/sale_articles/" + this.item.articles[index].id;
        let [err, res] = await Util.fetch({ url, method: "delete" });
        this.item.articles[index].deleted_at = true;
        this.item.articles[index].user = this.$store.state.user;
        this.updateTotal();
        return;
      }
      this.item.articles.splice(index, 1);
      this.updateTotal();
    },
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/sales/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/reporte/ventas");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/sales",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/reporte/ventas");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      } else {
        if (err.response.data.code == 201) {
          let message = "";
          err.response.data.data.forEach(item => {
            message += `<p><b>${item.fabric_pattern.sku} ${
              item.fabric_pattern.fabric.name
            } ${
              item.fabric_pattern.design ? item.fabric_pattern.design.name : ""
            } ${
              item.fabric_pattern.color ? item.fabric_pattern.color.name : ""
            }</b>
                    Disponible: <b>${item.current_stock} m</b>,
                    Solicitado: <b>${item.quantity} m</b> 
                </p>`;
          });
          PNotify.error({
            title: "Error de almacén",
            text: message,
            textTrusted: true
          });
        }
      }
    }
  },
  async beforeMount() {
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/sales/${this.$route.params.id}`
      });
      if(err){
        if(err.response.status == 403) this.$router.push("/");
        return
      }
      if (!item.customer) item.customer = { name: "" };
      item.fabric_pattern = { name: "" };
      this.item = item;
    }
  }
};
</script>
<style scoped>
.img-container-sm {
  display: inline-block;
  width: 60px;
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
}
.image-container {
  height: 30px;
  display: inline-block;
}
.image-container img {
  max-height: 100%;
}
.small-text {
  font-size: 14px;
}
.product-box {
  border: 1px solid #cccccc;
  padding: 10px 15px;
}
.hero-section {
  height: 30vh;
  background: #ababab;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}
.title {
  font-size: 60px;
  color: #ffffff;
}
</style>