<template>
  <div>
    <div>
      <h4>Filtros</h4>
      <form @submit.prevent="addFilter(filter.field, logic, value)">
        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label for="field">Campo</label>
            <select class="form-control" id="field" v-model="filter" required>
              <option value>Selecciona un campo</option>
              <option
                v-for="(data,index) in filters"
                :key="'filtro'+index"
                :value="data"
                v-if="data.display != false"
              >{{data.label}}</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-4" v-if="filter.allowed_logics">
            <label for="logic">Filtro</label>
            <select class="form-control" id="logic" v-model="logic">
              <option value>Selecciona un valor</option>
              <option
                v-for="(data,index) in filter.allowed_logics"
                :key="'logic'+index"
                :value="data.logic"
              >{{data.label}}</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-4" v-if="filter.field">
            <label for="value">Valor</label>
            <select class="form-control" id="value" v-model="value" required v-if="filter.values">
              <option value>Selecciona un valor</option>
              <option
                v-for="(data,index) in filter.values"
                :key="'value'+index"
                :value="data.value"
              >{{data.label}}</option>
            </select>
            <input
              :type="filter.type? filter.type:'text'"
              class="form-control"
              id="value"
              v-model="value"
              required
              v-if="!filter.values"
            >
          </div>
          <div class="form-group col-12 text-center">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-plus"></i> Filtro
            </button>
            <button type="button" class="btn btn-dark" @click="getItems()">
              <i class="fas fa-search"></i> Buscar
            </button>
          </div>
        </div>
      </form>
      <span
        class="badge badge-pill badge-dark"
        v-for="(data,index) in params.search.filters"
        :key="'filter-'+index"
        @click="deleteFilter(index)"
        v-if="showFilter(data)"
      >
        {{getLabel(data)}}{{getLogicAndValue(data)}}
        <b>&times;</b>
      </span>
    </div>
    <div class="row">
      <p class="col-12 col-sm-7">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
      <div class="col-12 col-sm-5">
        <div
          class="btn-group float-right"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page-1)"
            v-if="current_page != 1"
          >
            <i class="fas fa-arrow-left"></i>
          </button>
          <div>
            <label for="paginate">Cantidad</label>
            <select class="form-control" id="paginate" v-model="paginate" @change="getItems()">
              <option>10</option>
              <option>25</option>
              <option>50</option>
              <option>100</option>
            </select>
          </div>
          <div>
            <label for="page">Pagina</label>
            <select
              class="form-control"
              id="page"
              v-model="current_page"
              @change="getItems(current_page)"
            >
              <option v-for="page in pages" :key="'page-'+page" :value="page">{{page}}</option>
            </select>
          </div>
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page+1)"
            v-if="current_page != last_page"
          >
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Saldo</th>
            <th scope="col" class="text-right">
              <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                <i class="fas fa-plus"></i>
              </router-link>
              <button class="btn btn-light btn-sm" @click="getItems()">
                <i class="fas fa-sync"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data,index) in items" :key="index">
            <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>{{data.id}}</router-link>
            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>{{data.name}}</router-link>
            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>{{data.balance.total | currency}}</router-link>
            <td class="text-right">
              <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
                <i class="fas fa-edit"></i>
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <p class="col-12">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      from: 1,
      to: 1,
      pages: [],
      last_page: 1,
      current_page: 1,
      paginate: 10,
      page: 1,
      total: 0,
      params: {
          search: {
              filters: []
          }
      },
      logic: "",
      value: "",
      filter: "",
      filters: [],
      items: []
    };
  },
  methods: {
    getPages() {
      this.pages = [];
      for (let x = 0; x < this.last_page; x++) {
        this.pages.push(x + 1);
      }
    },
    addFilter(field, logic, value) {
      const data = { field, value };
      const filter = this.filters.find(item => item.field == data.field);
      if (logic) {
        data.logic = logic;
      } else if (filter.logic) {
        data.logic = filter.logic;
      }
      if (data.logic) {
        const logic = filter.allowed_logics.find(
          item => item.logic == data.logic
        );
        if (logic.value) data.value = logic.value.replace("{a}", value);
      }
      this.params.search.filters.push(data);
      this.logic = "";
      this.value = "";
      this.filter = "";
    },
    deleteFilter(index) {
      this.params.search.filters.splice(index, 1);
    },
    showFilter(filter){
      return this.filters.find(item => item.field == filter.field).display !== false
    },
    getLabel(filter) {
      return this.filters.find(item => item.field == filter.field).label;
    },
    getLogicAndValue(data) {
      const logic = Util.getLogic(data.logic);
      const filter = this.filters.find(item => item.field == data.field);
      let value = filter.values
        ? filter.values.find(item => item.value == data.value).label
        : data.value;
      if (filter.logic) {
        if (filter.logic == "like") value = value.replace(/%/g, "");
      }
      if (filter.type) {
        if (filter.type == "date") {
          value = this.getDate(value);
        }
      }
      return logic.replace("{a}", value);
    },
    async getItems(page = 1) {
      this.items = [];
      let [err, items] = await Util.fetch({
        url: `/api/suppliers?balance=true&page=${page}${
          this.paginate ? "&paginate=" + this.paginate : ""
        }`,
        params: this.params
      });
      if (items) {
        this.current_page = items.current_page;
        this.last_page = items.last_page;
        this.getPages();
        this.from = items.from;
        this.to = items.to;
        this.total = items.total;
        this.items = items.data;
      }
    }
  },
  beforeMount() {
    this.filters = [
      {
        field: "name",
        label: "Proveedor",
        logic: "like",
        allowed_logics: [
          { logic: "like", label: "Igual a", value: "%{a}%" },
          { logic: "not like", label: "Diferente a", value: "%{a}%" }
        ]
      }
    ];
    this.getItems();
  }
};
</script>