<template>
  <div>
    <div>
      <h4>Filtros</h4>
      <!--<form @submit.prevent="addFilter(filter.field, logic, value)">
        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label for="field">Campo</label>
            <select class="form-control" id="field" v-model="filter" required>
              <option value>Selecciona un campo</option>
              <option
                v-for="(data,index) in filters"
                :key="'filtro'+index"
                :value="data"
                v-if="data.display != false"
              >{{data.label}}</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-4" v-if="filter.allowed_logics">
            <label for="logic">Filtro</label>
            <select class="form-control" id="logic" v-model="logic">
              <option value>Selecciona un valor</option>
              <option
                v-for="(data,index) in filter.allowed_logics"
                :key="'logic'+index"
                :value="data.logic"
              >{{data.label}}</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-4" v-if="filter.field">
            <label for="value">Valor</label>
            <select class="form-control" id="value" v-model="value" required v-if="filter.values">
              <option value>Selecciona un valor</option>
              <option
                v-for="(data,index) in filter.values"
                :key="'value'+index"
                :value="data.value"
              >{{data.label}}</option>
            </select>
            <input
              :type="filter.type? filter.type:'text'"
              class="form-control"
              id="value"
              v-model="value"
              required
              v-if="!filter.values"
            >
          </div>
          <div class="form-group col-12 text-center">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-plus"></i> Filtro
            </button>
            <button type="button" class="btn btn-dark" @click="getItems()">
              <i class="fas fa-search"></i> Buscar
            </button>
          </div>
        </div>
      </form>-->
      <form class="col-lg-6" @submit.prevent="search('findItem','customer')" autocomplete="off">
        <div class="form-group">
          <label for="customer_id">Cliente</label>
          <input
            type="text"
            id="customer_id"
            class="form-control"
            v-model="customer.name"
            @keyup="search('findItem','customer')"
          >
          <div class="search-list" v-if="!customer_id">
            <div class="list-group">
              <div
                class="list-group-item p-2"
                :key="'customer'+data.id"
                v-for="data in customers"
                @click="selectItem('customer',data)"
              >
                <b>{{data.name}}</b>
              </div>
            </div>
          </div>
        </div>
      </form>
      <span
        class="badge badge-pill badge-dark"
        v-for="(data,index) in params.search.filters"
        :key="'filter-'+index"
        @click="deleteFilter(index)"
        v-if="showFilter(data)"
      >
        {{getLabel(data)}}{{getLogicAndValue(data)}}
        <b>&times;</b>
      </span>
    </div>
    <div class="row">
      <p class="col-12 col-sm-7">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
      <div class="col-12 col-sm-5">
        <div
          class="btn-group float-right"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page-1)"
            v-if="current_page != 1"
          >
            <i class="fas fa-arrow-left"></i>
          </button>
          <div>
            <label for="paginate">Cantidad</label>
            <select class="form-control" id="paginate" v-model="paginate" @change="getItems()">
              <option>10</option>
              <option>25</option>
              <option>50</option>
              <option>100</option>
            </select>
          </div>
          <div>
            <label for="page">Pagina</label>
            <select
              class="form-control"
              id="page"
              v-model="current_page"
              @change="getItems(current_page)"
            >
              <option v-for="page in pages" :key="'page-'+page" :value="page">{{page}}</option>
            </select>
          </div>
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page+1)"
            v-if="current_page != last_page"
          >
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cliente</th>
            <th class="text-right" scope="col">Total</th>
            <th class="text-right" scope="col">Saldo</th>
            <th class="text-right" scope="col">{{user.user_type == 2 ? 'Comisión':'Ganancia'}}</th>
            <th scope="col" class="text-right">
              <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                <i class="fas fa-plus"></i>
              </router-link>
              <button class="btn btn-light btn-sm" @click="getItems()">
                <i class="fas fa-sync"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data,index) in items" :key="index" :class="{'table-success':data.status==2,'table-warning':data.status==1,'table-danger':data.status==0}">
            <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>{{data.id}}</router-link>
            <router-link
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{getDate(data.created_at)}}</router-link>
            <router-link
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.customer?data.customer.name:''}}</router-link>
            <router-link
              class="text-right"
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.total | currency}} {{data.currency}}</router-link>
            <router-link
              class="text-right"
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.balance | currency}} {{data.currency}}</router-link>
            <router-link
              class="text-right"
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{user.user_type == 2 ? data.commission : data.revenue | currency}} {{data.currency}}</router-link>
            <td class="text-right">
              <button
                class="btn btn-info btn-sm"
                data-toggle="modal"
                :data-target="'#send-invoice-'+data.id"
                @click="initRecipients(data)"
              >
                <i class="fas fa-envelope" style="color:white"></i>
              </button>
              <button class="btn btn-secondary btn-sm" @click="downloadSale(data)">
                <i class="fas fa-download"></i>
              </button>
              <button class="btn btn-danger btn-sm" @click="deleteItem(data,index)">
                <i class="fas fa-trash"></i>
              </button>

              <div class="modal fade" :id="'send-invoice-'+data.id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      Destinatarios
                      <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form @submit.prevent="addRecipient()">
                        <div class="form-group">
                          <div class="input-group">
                            <input
                              type="email"
                              class="form-control"
                              placeholder="Email"
                              v-model="recipient"
                            >
                            <div class="input-group-append">
                              <button class="btn btn-success">
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      <table class="table">
                        <tr v-for="(data,index) in recipients" :key="index">
                          <th class="text-left">{{data}}</th>
                          <td class="text-right">
                            <button class="btn btn-danger btn-sm" @click="deleteRecipient(index)">
                              <i class="fas fa-trash"></i>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="modal-footer text-right">
                      <button class="btn btn-warning" type="button" data-dismiss="modal">Cancelar</button>
                      <button
                        class="btn btn-success"
                        @click="sendSale(data)"
                        data-dismiss="modal"
                        v-if="recipients.length"
                      >Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="table-info" v-for="(data,index) in totals" :key="'totals-'-index">
            <th>Totales ({{data.currency}})</th>
            <td colspan="2"></td>
            <th class="text-right">{{data.total | currency}} {{data.currency}}</th>
            <th class="text-right">{{data.balance | currency}} {{data.currency}}</th>
            <th class="text-right">{{user.user_type == 2 ? data.commission : data.revenue | currency}} {{data.currency}}</th>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <p class="col-12">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
    </div>
  </div>
</template>

<script>

import { mapState } from "vuex";
export default {
  data() {
    return {
      from: 1,
      to: 1,
      pages: [],
      last_page: 1,
      current_page: 1,
      paginate: 10,
      page: 1,
      total: 0,
      params: {
        search: {
          filters: []
        }
      },
      logic: "",
      value: "",
      filter: "",
      filters: [],
      items: [],
      totals: [],
      recipients: [],
      recipient: "",
      customer_id: null,
      customer: { name: "" },
      customers: []
    };
  },
  methods: {
    search: _.debounce(function(callback, type) {
      this[callback](type);
    }, 600),
    async findItem(type) {
      this[type + "_id"] = "";
      if (!this[type].name) {
        this[type + "s"] = [];
        return;
      }
      const search = {};
      if (type == "customer") {
        search.filters = [
          {
            field: "name",
            logic: "like",
            value: `%${this[type].name}%`
          }
        ];
      } else if (type == "fabric_pattern") {
        search.name = this[type].name;
      }
      let [, items] = await Util.fetch({
        url: "/api/" + type + "s",
        params: { search }
      });
      if (items) this[type + "s"] = items;
      else this[type + "s"] = [];
    },
    selectItem(type, data) {
      this[type + "_id"] = data.id;
      this[type] = data;
      this[type + "s"] = [];
      this.addFilter(type + "_id", '=', data.id)
    },
    getDate(date) {
      let saleDate = new Date(date);
      let day =
        saleDate.getDate() < 10 ? "0" + saleDate.getDate() : saleDate.getDate();
      let month =
        saleDate.getMonth() + 1 < 10
          ? "0" + (saleDate.getMonth() + 1)
          : saleDate.getMonth() + 1;
      return `${day}/${month}/${saleDate.getFullYear()}`;
    },
    getPages() {
      this.pages = [];
      for (let x = 0; x < this.last_page; x++) {
        this.pages.push(x + 1);
      }
    },
    addFilter(field, logic, value) {
      const data = { field, value };
      const filter = this.filters.find(item => item.field == data.field);
      if (logic) {
        data.logic = logic;
      } else if (filter.logic) {
        data.logic = filter.logic;
      }
      if (data.logic) {
        const logic = filter.allowed_logics.find(
          item => item.logic == data.logic
        );
        if (logic.value) data.value = logic.value.replace("{a}", value);
      }
      this.params.search.filters.push(data);
      this.logic = "";
      this.value = "";
      this.filter = "";
      this.getItems();
    },
    deleteFilter(index) {
      this.params.search.filters.splice(index, 1);
    },
    showFilter(filter){
      return this.filters.find(item => item.field == filter.field).display !== false
    },
    getLabel(filter) {
      return this.filters.find(item => item.field == filter.field).label;
    },
    getLogicAndValue(data) {
      const logic = Util.getLogic(data.logic);
      const filter = this.filters.find(item => item.field == data.field);
      let value = filter.values
        ? filter.values.find(item => item.value == data.value).label
        : data.value;
      if (filter.logic) {
        if (filter.logic == "like") value = value.replace(/%/g, "");
      }
      if (filter.type) {
        if (filter.type == "date") {
          value = this.getDate(value);
        }
      }
      return logic.replace("{a}", value);
    },
    async getItems(page = 1) {
      this.items = [];
      let [err, items] = await Util.fetch({
        url: `/api/sales?page=${page}${
          this.paginate ? "&paginate=" + this.paginate : ""
        }`,
        params: this.params
      });
      if (items) {
        this.current_page = items.current_page;
        this.last_page = items.last_page;
        this.getPages();
        this.from = items.from;
        this.to = items.to;
        this.total = items.total;
        this.items = items.data;
        this.totals = items.totals;
      }
    },
    async deleteItem(data, index) {
      let [err] = await Util.fetch({
        url: `/api/sales/${data.id}`,
        method: "delete"
      });
      if (!err) {
        //this.items.splice(index, 1);
        this.getItems();
      }
    },
    async downloadSale(data) {
      let downloadingSale = axios
        .get(`/api/sales/${data.id}/pdf`, { responseType: "arraybuffer" })
        .then(response => response);
      let result = await downloadingSale;
      this.downloadSalePdf(result, `Venta #${data.id}`);
    },
    downloadSalePdf(response, filename) {
      var newBlob = new Blob([response.data], { type: "application/pdf" });
      if (window.navigator && window.navigator.msSaveOrOpenBlob) {
        window.navigator.msSaveOrOpenBlob(newBlob);
        return;
      }
      const data = window.URL.createObjectURL(newBlob);
      var link = document.createElement("a");
      link.href = data;
      link.download = filename + ".pdf";
      link.click();
      setTimeout(function() {
        window.URL.revokeObjectURL(data);
      }, 100);
    },
    addRecipient() {
      this.recipients.push(this.recipient);
      this.recipient = "";
    },
    deleteRecipient(index) {
      this.recipients.splice(index, 1);
    },
    async sendSale(sale) {
      let sendingSale = axios
        .post(`/api/sales/${sale.id}/email`, { recipients: this.recipients })
        .then(response => response.data);
      let result = await sendingSale;
    },
    initRecipients(sale) {
      this.recipients = [];
      if (sale.customer.email) {
        this.recipient = sale.customer.email;
        this.addRecipient();
      }
    }
  },
  computed: {
    ...mapState(["user"])
  },
  beforeMount() {
    this.filters = [
      {
        field: "customer_id",
        label: "Cliente",
        logic: "=",
        allowed_logics: [
          { logic: "=", label: "Igual a" },
          { logic: "!=", label: "Diferente a" }
        ]
      },
      /*{
        field: "sales.created_at",
        label: "Fecha",
        type: "date",
        logic: "like",
        allowed_logics: [
          { logic: "<", label: "Menor a", value: "{a} 00:00:00" },
          { logic: ">", label: "Mayor a", value: "{a} 23:59:59"},
          { logic: "<=", label: "Menor o igual a", value: "{a} 23:59:59" },
          { logic: ">=", label: "Mayor o igual a", value: "{a} 00:00:00" },
          { logic: "like", label: "Igual a", value: "{a}%"},
          { logic: "not like", label: "Diferente a", value: "{a}%"}
        ]
      },
      {
        field: "customers.name",
        label: "Cliente",
        logic: "like",
        allowed_logics: [
          { logic: "like", label: "Igual a", value: "%{a}%" },
          { logic: "not like", label: "Diferente a", value: "%{a}%" }
        ]
      },*/
      {
        field: "sales.user_id",
        label: "Usuario",
        display: false
      }
    ];
    if(this.$store.state.user.user_type == 1)
      this.params.search.filters.push({field: 'sales.user_id', value:this.$store.state.user.id})
    this.getItems();
  }
};
</script>