<template>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-success" @click="addSale()">
        Agregar Venta
        <i class="fas fa-plus"></i>
      </button>
      <button class="btn btn-primary" data-toggle="modal" data-target="#stock">
        Consultar Almacen
        <i class="fas fa-search"></i>
      </button>
      <div v-if="sales.length > 1">
        <ul class="nav nav-tabs">
          <li
            class="nav-item"
            v-for="(sale,index) in sales"
            :key="index"
            @click="selectSale(index)"
          >
            <a
              class="nav-link"
              data-toggle="tab"
              href="#"
              :class="{'active': index == sale}"
            >#{{index+1}}</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <form class="col-lg-6" @submit.prevent="search('findItem','customer')" autocomplete="off">
          <div class="form-group">
            <label for="customer_id">Cliente</label>
            <input
              type="text"
              id="customer_id"
              class="form-control"
              v-model="sales[sale].item.customer.name"
              @keyup="search('findItem','customer')"
            >
            <div class="search-list" v-if="!sales[sale].item.customer_id">
              <div class="list-group">
                <div
                  class="list-group-item p-2"
                  :key="data.id"
                  v-for="data in sales[sale].customers"
                  @click="selectItem('customer',data)"
                >
                  <b>{{data.name}}</b>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form class="col-lg-6" @submit.prevent="save()">
          <div class="row">
            <div class="form-group col-lg-6">
              <label for="currency">Tipo de Cambio</label>
              <select
                id="currency"
                class="form-control"
                v-model="sales[sale].item.currency"
                required
              >
                <option value>Selecciona un tipo de cambio</option>
                <option
                  :value="data.id"
                  v-for="(data,index) in sales[sale].currencies"
                  :key="'currency-'+index"
                  :disabled="sales[sale].item.payments.length > 0"
                >{{ data.name }}</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label for="stock">Almacen</label>
              <div class="form-check">              
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    v-model="sales[sale].item.update_stock"
                  >Descontar de almacen
                </label>
              </div>
            </div>
          </div>
          <button type="submit" style="display:none" id="save"></button>
        </form>
        <form
          class="col-lg-12"
          @submit.prevent="search('findItem','fabric_pattern')"
          autocomplete="off"
        >
          <div class="form-group">
            <label for="fabric_pattern_id">Modelo</label>
            <input
              type="text"
              id="fabric_pattern_id"
              class="form-control"
              v-model="sales[sale].item.fabric_pattern.name"
              @keyup="search('findItem','fabric_pattern')"
              required
            >
            <div class="search-list" v-if="!sales[sale].item.fabric_pattern_id">
              <div class="list-group">
                <div
                  class="list-group-item p-2"
                  :key="data.id"
                  v-for="data in sales[sale].fabric_patterns"
                  @click="selectItem('fabric_pattern',data);sales[sale].article.price = sales[sale].item.fabric_pattern.fabric.sell_price"
                >
                  <b>{{data.name}}</b>
                  <div class="image-container float-right" v-if="data.image">
                    <img :src="data.image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <form @submit.prevent="addItem()" class="row">
        <div class="form-group col-lg-3">
          <label for="article-quantity">Cantidad {{ sales[sale].item.fabric_pattern_id ? '(m)':''}}</label>
          <input
            type="number"
            class="form-control"
            v-model="sales[sale].article.quantity"
            step="any"
            required
            @keyup="sales[sale].article.total = sales[sale].article.quantity * sales[sale].article.price"
          >
        </div>
        <div class="form-group col-lg-3">
          <label
            for="article-price"
          >Precio {{ sales[sale].item.fabric_pattern_id ? 'x metro':'unitario'}}</label>
          <input
            type="number"
            class="form-control"
            v-model="sales[sale].article.price"
            step="any"
            required
            @keyup="sales[sale].article.total = sales[sale].article.quantity * sales[sale].article.price"
          >
        </div>
        <div class="form-group col-lg-3 text-right">
          <label>Total</label>
          <p class="form-control-static">
            <b>{{sales[sale].article.total | currency}}</b>
          </p>
        </div>
        <div class="form-group col-lg-12 text-right">
          <button class="btn btn-secondary">Agregar</button>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th colspan="6">Articulos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Cantidad</th>
              <th scope="col">Articulo</th>
              <th scope="col" class="text-right">P.U.</th>
              <th scope="col" class="text-right">Importe</th>
              <th scope="col"></th>
            </tr>
            <tr
              v-for="(data,index) in sales[sale].item.articles"
              :key="index"
              :class="{'cancelled':data.deleted_at}"
            >
              <th scope="row">{{index+1}}</th>
              <td class="text-center">{{data.quantity}}</td>
              <td v-if="!data.description">
                <div
                  class="img-container-sm"
                  v-if="data.fabric_pattern && data.fabric_pattern.image"
                >
                  <img :src="data.fabric_pattern.image" class="img-fluid">
                </div>
                {{data.fabric_pattern ? data.fabric_pattern.sku : ''}}
                {{data.fabric_pattern && data.fabric_pattern.fabric ? data.fabric_pattern.fabric.name : ''}}
                {{data.fabric_pattern && data.fabric_pattern.design ? data.fabric_pattern.design.name : ''}}
                {{data.fabric_pattern && data.fabric_pattern.color ? data.fabric_pattern.color.name : ''}}
              </td>
              <td v-else>{{data.description}}</td>
              <td class="text-right">{{data.price}}</td>
              <td class="text-right">{{data.total}}</td>
              <td class="text-right">
                <b v-if="data.deleted_at">Cancelado por {{data.user.name}}</b>
                <button
                  class="btn btn-danger btn-sm"
                  type="button"
                  @click="deleteItem(index)"
                  v-if="!data.deleted_at"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 text-right">
          <h4>
            <span class="float-left">Total:</span>
            {{sales[sale].item.total | currency}}
          </h4>
          <h4>
            <span class="float-left">Saldo:</span>
            {{sales[sale].item.balance | currency}}
          </h4>
          <h4 v-if="sales[sale].item.commission > 0">
            <span class="float-left">Comision:</span>
            {{sales[sale].item.commission | currency}}
          </h4>
        </div>
      </div>
      <div class="text-right">
        <button
          type="button"
          class="btn btn-warning"
          v-if="sales.length > 1"
          @click="deleteSale(sale)"
        >Cancelar</button>
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#payments"
          v-if="(sales[sale].item.articles.length && sales[sale].item.currency) || sales[sale].item.payments.length"
        >Pagos</button>
        <label for="save" class="btn btn-success" v-if="sales[sale].item.articles.length && !saving">Guardar</label>
        <label
          for="save"
          class="btn btn-primary"
          @click="payed = true"
          v-if="sales[sale].item.articles.length && sales[sale].item.currency == 1 && !saving"
        >Pagar y Guardar</label>
      </div>
    </div>
    <div class="modal fade" id="payments" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Pagos
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="addPayment()">
              <div class="form-group">
                <label for="amount_mxn">Cantidad (MXN)</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount_mxn"
                  v-model="sales[sale].payment.amount_mxn"
                  required
                  step="any"
                >
              </div>
              <div class="form-group" v-if="sales[sale].item.currency == 2">
                <label for="amount_usd">Cantidad (USD)</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount_usd"
                  v-model="sales[sale].payment.amount_usd"
                  required
                  step="any"
                >
              </div>
              <div class="table-responsive">
                <table class="table">
                  <tr v-for="(data,index) in sales[sale].item.payments" :key="'payment-'+index">
                    <td>{{data.created_at ? getDate(data.created_at) : getDate()}}</td>
                    <td class="text-right">{{data.amount_mxn | currency}} MXN</td>
                    <td
                      class="text-right"
                      v-if="sales[sale].item.currency == 2"
                    >{{data.amount_usd | currency}} USD</td>
                    <td class="text-right">
                      <button
                        class="btn btn-danger btn-sm"
                        type="button"
                        @click="deletePayment(index)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-warning" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary">Agregar Pago</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="stock" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Buscar almacen
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              class="col-lg-12"
              @submit.prevent="search('findPattern','fabric_pattern')"
              autocomplete="off"
            >
              <div class="form-group">
                <label for="fabric_pattern_id">Modelo</label>
                <input
                  type="text"
                  id="fabric_pattern_id"
                  class="form-control"
                  v-model="fabric_pattern.name"
                  @keyup="search('findPattern','fabric_pattern')"
                  required
                >
                <div class="search-list" v-if="!fabric_pattern_id">
                  <div class="list-group">
                    <div
                      class="list-group-item p-2"
                      :key="data.id"
                      v-for="data in fabric_patterns"
                      @click="searchStock('fabric_pattern',data)"
                    >
                      <b>{{data.name}}</b>
                      <div class="image-container float-right" v-if="data.image">
                        <img :src="data.image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h4>Cantidad en Almacen: {{stock_total}} m</h4>
              <div class="form-group text-right">
                <button class="btn btn-warning" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary">Buscar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      saving: false,
      fabric_pattern: {name:""},
      fabric_pattern_id: null,
      fabric_patterns: [],
      stock_total: 0,
      payed: false
    };
  },
  methods: {
    getDate(date = new Date()) {
      let saleDate = new Date(date);
      let day =
        saleDate.getDate() < 10 ? "0" + saleDate.getDate() : saleDate.getDate();
      let month =
        saleDate.getMonth() + 1 < 10
          ? "0" + (saleDate.getMonth() + 1)
          : saleDate.getMonth() + 1;
      return `${day}/${month}/${saleDate.getFullYear()}`;
    },
    search: _.debounce(function(callback, type) {
      this[callback](type);
    }, 600),
    async findPattern(type) {
      this[type + "_id"] = "";
      if (!this[type].name) {
        this[type + "s"] = [];
        return;
      }
      const search = {name: this[type].name}
      let [, items] = await Util.fetch({
        url: "/api/" + type + "s",
        params: { search }
      });
      if (items) this[type + "s"] = items;
      else this[type + "s"] = [];
    },
    async searchStock(type, data) {
      this[type + "_id"] = data.id;
      this[type] = data;
      this[type + "s"] = [];
      let [, quantity] = await Util.fetch({ url: "/api/" + type + "s/"+ data.id +"/stock"});
      if (quantity) this.stock_total = quantity
    },
    async findItem(type) {
      this.sales[this.sale].item[type + "_id"] = "";
      if (!this.sales[this.sale].item[type].name) {
        this.sales[this.sale][type + "s"] = [];
        return;
      }
      const search = {};
      if (type == "customer") {
        search.filters = [
          {
            field: "name",
            logic: "like",
            value: `%${this.sales[this.sale].item[type].name}%`
          }
        ];
      } else if (type == "fabric_pattern") {
        search.name = this.sales[this.sale].item[type].name;
      }
      let [, items] = await Util.fetch({
        url: "/api/" + type + "s",
        params: { search }
      });
      if (items) this.sales[this.sale][type + "s"] = items;
      else this.sales[this.sale][type + "s"] = [];
      this.updateSale();
    },
    selectItem(type, data) {
      this.sales[this.sale].item[type + "_id"] = data.id;
      this.sales[this.sale].item[type] = data;
      this.sales[this.sale].item[type + "s"] = [];
      if (type == "fabric_pattern") {
        this.sales[this.sale].article.total = 0;
      }
      this.updateSale();
    },
    async addPayment() {
      const url = "/api/sale_payments";
      this.sales[this.sale].item.payments.push(
        JSON.parse(JSON.stringify(this.sales[this.sale].payment))
      );
      (this.sales[this.sale].payment.amount_mxn = null),
        (this.sales[this.sale].payment.amount_usd = null),
        this.updateTotal();
    },
    async deletePayment(index) {
      if (this.sales[this.sale].isUpdate) {
        const url =
          "/api/sale_payments/" + this.sales[this.sale].item.payments[index].id;
        let [err, res] = await Util.fetch({ url, method: "delete" });
      }
      this.sales[this.sale].item.payments.splice(index, 1);
      this.updateTotal();
    },
    updateTotal() {
      const vm = this.sales[this.sale];
      this.sales[this.sale].item.total = 0;
      this.sales[this.sale].item.revenue = 0;
      this.sales[this.sale].item.commission = 0;
      this.sales[this.sale].item.articles.forEach(element => {
        if (!element.deleted_at) {
          vm.item.total += parseFloat(element.total);
          vm.item.revenue += parseFloat(element.revenue);
          vm.item.commission += parseFloat(element.commission);
        }
      });
      this.sales[this.sale].item.balance = this.sales[this.sale].item.total;
      this.sales[this.sale].item.payments.forEach(element => {
        vm.item.balance =
          vm.item.currency == 1
            ? vm.item.balance - element.amount_mxn
            : vm.item.balance - element.amount_usd;
      });
      this.updateSale();
    },
    async addItem() {
      if (
        !this.sales[this.sale].item.fabric_pattern &&
        !this.sales[this.sale].article.description
      )
        return;
      if (
        !this.sales[this.sale].item.fabric_pattern_id &&
        this.sales[this.sale].item.fabric_pattern.name
      ) {
        this.sales[this.sale].article.description = this.sales[
          this.sale
        ].item.fabric_pattern.name;
      } else this.sales[this.sale].article.description = null;
      if (this.sales[this.sale].article.description)
        this.sales[this.sale].item.fabric_pattern_id = null;
      const item = this.sales[this.sale].item.fabric_pattern;
      if(item.fabric && item.fabric.buy_price){
        this.sales[this.sale].article.revenue = this.sales[this.sale].article.total - (this.sales[this.sale].article.quantity * item.fabric.buy_price);
      }
      const data = {
        fabric_pattern: JSON.parse(JSON.stringify(item)),
        fabric_pattern_id: this.sales[this.sale].item.fabric_pattern_id,
        description: this.sales[this.sale].article.description,
        quantity: this.sales[this.sale].article.quantity,
        price: this.sales[this.sale].article.price,
        total: this.sales[this.sale].article.total,
        revenue: this.sales[this.sale].article.revenue,
        commission: this.$store.state.user.user_type == 2 ? this.sales[this.sale].article.total * 0.03 : 0
      };
      const url = "/api/sale_articles";
      (this.sales[this.sale].article.description = null),
        (this.sales[this.sale].article.quantity = null),
        (this.sales[this.sale].article.price = null),
        (this.sales[this.sale].article.total = 0);
        (this.sales[this.sale].article.revenue = 0);
        (this.sales[this.sale].article.commission = 0);
      this.sales[this.sale].item.articles.push(data);
      this.sales[this.sale].fabric_patterns = [];
      this.sales[this.sale].item.fabric_pattern.name = "";
      this.sales[this.sale].item.fabric_pattern_id = "";
      this.updateTotal();
    },
    async deleteItem(index) {
      this.sales[this.sale].item.articles.splice(index, 1);
      this.updateTotal();
    },
    async save() {
      if (this.saving) return;
      this.saving = true;
      if(this.payed) {
        this.payed = false;
        this.sales[this.sale].item.payments = [];
        this.sales[this.sale].item.payments.push({
          amount_mxn: this.sales[this.sale].item.total, amount_usd: null
        })
      }
      let [err, res] = await Util.fetch({
        url: "/api/sales",
        method: "post",
        data: this.sales[this.sale].item
      });
      if (!err) {
        PNotify.success({
          title: "Venta Guardada",
          text: "La venta se registro correctamente"
        });
        this.deleteSale();
        if (this.sales.length == 0) {
          this.addSale();
        }
        this.updateSale();
      } else {
        if (err.response.data.code == 201) {
          let message = "";
          err.response.data.data.forEach(item => {
            message += `<p><b>${item.fabric_pattern.sku} ${
              item.fabric_pattern.fabric.name
            } ${
              item.fabric_pattern.design ? item.fabric_pattern.design.name : ""
            } ${
              item.fabric_pattern.color ? item.fabric_pattern.color.name : ""
            }</b>
                    Disponible: <b>${item.current_stock} m</b>,
                    Solicitado: <b>${item.quantity} m</b> 
                </p>`;
          });
          PNotify.error({
            title: "Error de almacén",
            text: message,
            textTrusted: true
          });
        }
      }
      this.saving = false;
    },
    ...mapMutations(["addSale", "deleteSale", "selectSale", "updateSale"])
  },
  computed: {
    ...mapState(["sales", "sale"])
  }
};
</script>
<style scoped>
.img-container-sm {
  display: inline-block;
  width: 60px;
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
}
.image-container {
  height: 30px;
  display: inline-block;
}
.image-container img {
  max-height: 100%;
}
.small-text {
  font-size: 14px;
}
.product-box {
  border: 1px solid #cccccc;
  padding: 10px 15px;
}
.hero-section {
  height: 30vh;
  background: #ababab;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}
.title {
  font-size: 60px;
  color: #ffffff;
}
</style>