<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" v-model="item.name" required>
        </div>
        <div class="form-group">
          <label for="address">Dirección</label>
          <input type="text" class="form-control" id="address" v-model="item.address">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="telephone">Teléfono</label>
            <input type="text" class="form-control" id="telephone" v-model="item.telephone">
          </div>
          <div class="form-group col-md-6">
            <label for="mobilephone">Celular</label>
            <input type="text" class="form-control" id="mobilephone" v-model="item.mobilephone">
          </div>
          <div class="form-group" :class="{'col-md-4':!isUpdate,'col-md-6':isUpdate}">
            <label for="email">Correo</label>
            <input type="text" class="form-control" id="email" v-model="item.email">
          </div>
          <div class="form-group" :class="{'col-md-4':!isUpdate,'col-md-6':isUpdate}">
            <label for="credit-days">Dias de Credito</label>
            <input type="number" class="form-control" id="credit-days" v-model="item.credit_days">
          </div>
          <div class="form-group col-md-4" v-if="!isUpdate">
            <label for="account">Crear Cuenta de Usuario</label>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  v-model="item.account"
                >
                Si, crear cuenta
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="comments">Observaciones</label>
          <textarea id="comments" rows="3" class="form-control" v-model="item.comments"></textarea>
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/gestion/clientes' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { name: "" }
    };
  },
  methods: {
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/customers/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/clientes");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/customers",
        method: "post",
        data: this.item
      });
      if (!err) {
        if(this.item.account){
          PNotify.success({
            title: "Usuario de cliente asignado",
            text: `Password: <b>${res.password}</b>`,
            textTrusted:true
          })
        }
        if (!this.isModal) this.$router.push("/gestion/clientes");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/customers/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>