<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <div class="row">
        <div class="form-group col-lg-6">
          <label for="customer_id">Cliente</label>
          <p class="form-control-static">{{item.customer.name}}</p>
        </div>
        <div class="form-group col-lg-6">
          <label for="currency">Tipo de Cambio</label>
          <select id="currency" class="form-control" v-model="item.currency">
            <option
              :value="data.id"
              v-for="(data,index) in currencies"
              :key="'currency-'+index"
              disabled
            >{{ data.name }}</option>
          </select>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th colspan="6">Articulos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Cantidad</th>
              <th scope="col">Articulo</th>
              <th scope="col" class="text-right">P.U.</th>
              <th scope="col" class="text-right">Importe</th>
              <th></th>
            </tr>
            <tr
              v-for="(data,index) in item.articles"
              :key="index"
              :class="{'cancelled':data.deleted_at}"
            >
              <th scope="row">{{index+1}}</th>
              <td class="text-center">{{data.quantity}}</td>
              <td v-if="!data.description">
                <div
                  class="img-container-sm"
                  v-if="data.fabric_pattern && data.fabric_pattern.image"
                >
                  <img :src="data.fabric_pattern.image" class="img-fluid">
                </div>
                {{data.fabric_pattern ? data.fabric_pattern.sku : ''}}
                {{data.fabric_pattern && data.fabric_pattern.fabric ? data.fabric_pattern.fabric.name : ''}}
                {{data.fabric_pattern && data.fabric_pattern.design ? data.fabric_pattern.design.name : ''}}
                {{data.fabric_pattern && data.fabric_pattern.color ? data.fabric_pattern.color.name : ''}}
              </td>
              <td v-else>{{data.description}}</td>
              <td class="text-right">{{data.price}}</td>
              <td class="text-right">{{data.total}}</td>
              <td class="text-right">
                <b v-if="data.deleted_at">Cancelado por {{data.user.name}}</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 text-right">
          <h4>
            <span class="float-left">Total:</span>
            {{item.total}}
          </h4>
          <h4>
            <span class="float-left">Saldo:</span>
            {{item.balance}}
          </h4>
        </div>
      </div>
      <div class="text-right">
        <router-link :to="{ path:'/' }" class="btn btn-warning">Regresar</router-link>
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#payments"
          v-if="item.payments.length"
        >Pagos</button>
      </div>
    </div>
    <div class="modal fade" id="payments" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Pagos
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="table-responsive">
                <table class="table">
                  <tr v-for="(data,index) in item.payments" :key="'payment-'+index">
                    <td>{{data.created_at ? getDate(data.created_at) : getDate()}}</td>
                    <td class="text-right">{{data.amount_mxn | currency}} MXN</td>
                    <td class="text-right" v-if="item.currency == 2">{{data.amount_usd | currency}} USD</td>
                  </tr>
                </table>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-warning" type="button" data-dismiss="modal">Cerrar</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: {
        update_stock: true,
        customer_id: null,
        balance: 0,
        total: 0,
        revenue: 0,
        commission: 0,
        articles: [],
        payments: [],
        currency: "",
        customer: { name: "" },
        fabric_pattern: { name: "" },
        fabric_pattern_id: ""
      },
      payment: { amount_mxn: null, amount_usd: null },
      currencies: Util.currencies,
      article: {
        description: null,
        quantity: null,
        price: null,
        total: 0,
        revenue: 0,
        commission: 0
      },
      fabric_patterns: [],
      customers: []
    };
  },
  methods: {
    getDate(date = new Date()) {
      let saleDate = new Date(date);
      let day =
        saleDate.getDate() < 10 ? "0" + saleDate.getDate() : saleDate.getDate();
      let month =
        saleDate.getMonth() + 1 < 10
          ? "0" + (saleDate.getMonth() + 1)
          : saleDate.getMonth() + 1;
      return `${day}/${month}/${saleDate.getFullYear()}`;
    }
  },
  async beforeMount() {
      let [err, item] = await Util.fetch({
        url: `/api/sales/${this.$route.params.id}`
      });
      if(err){
        if(err.response.status == 403) this.$router.push("/");
        return
      }
      this.item = item;
  }
};
</script>
<style scoped>
.img-container-sm {
  display: inline-block;
  width: 60px;
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
}
.image-container {
  height: 30px;
  display: inline-block;
}
.image-container img {
  max-height: 100%;
}
.small-text {
  font-size: 14px;
}
.product-box {
  border: 1px solid #cccccc;
  padding: 10px 15px;
}
.hero-section {
  height: 30vh;
  background: #ababab;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}
.title {
  font-size: 60px;
  color: #ffffff;
}
</style>