<template>
  <div class="h-100" :class="{'show-sidebar': showSidebar}">
    <router-view v-if="!isLoggedIn" @login="login"></router-view>
    <div v-if="isLoggedIn" class="h-100">
      <nav class="navbar navbar-expand-md navbar-light navbar-laravel fixed-top">
        <div class="container-fluid">
          <router-link :to="{path: '/'}" class="navbar-brand">
              Textiles Hernandez
              <img src="/img/logo-144.png" class="logo" alt="Logo">
          </router-link>
          <button class="navbar-toggler" type="button" @click="showSidebar = !showSidebar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <div class="navbar-nav mr-auto">
              <div class="btn-group" role="group">
                <button class="btn btn-secondary" @click="showSidebar = !showSidebar">
                  <i class="fas fa-bars"></i>
                </button>
                <button class="btn btn-dark" @click="goBack()">
                  <i class="fas fa-arrow-left"></i>
                </button>
              </div>
            </div>
            <!-- Right Side Of Navbar -->
            <div class="navbar-nav ml-auto">
              <div class="dropdown">
                <a
                  class="btn dropdown-toggle text-dark"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >Hola, {{user.name}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <router-link :to="{ path: '/ajustes' }" class="dropdown-item">Ajustes</router-link>
                  <button class="dropdown-item pointer" @click="logout">Cerrar Sesion</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div id="sidebar-wrapper">
        <sidebar-component
          :menu="menu"
          @logout="logout"
          :user="user.name"
          @toggleSidebar="showSidebar = !showSidebar"
        ></sidebar-component>
      </div>
      <main class="h-100" id="content-wrapper">
        <div class="py-4">
          <router-view id="main-wrapper"></router-view>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import SidebarComponent from "../components/SidebarComponent";
import cfenv from "../config/cfenv";

export default {
  data() {
    return {
      showSidebar: window.innerWidth > 991
    };
  },
  computed: {
    ...mapState(["isLoggedIn", "menu", "user"])
  },
  components: {
    SidebarComponent
  },
  methods: {
    login() {
      this.showSidebar = window.innerWidth > 991
    },
    logout() {
      this.$store.commit('logout');
      this.$router.push("/login");
    },
    goBack() {
      this.$router.go(-1);
    }
  }
};
</script>
<style scoped>
#sidebar-wrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  left: -220px;
  width: 220px;
  top: 58px;
  bottom: 0;
  box-shadow: none;
  transition: all 0.5s;
  z-index: 9;
  background: rgb(10, 100, 162);
}
.show-sidebar #sidebar-wrapper {
  left: 0px;
  box-shadow: -2px 0px 2px 2px;
}
#content-wrapper {
  margin-left: 0px;
  overflow: auto;
  transition: all 0.5s;
}
.show-sidebar #content-wrapper {
  margin-left: 220px;
}
#main-wrapper {
  padding-top: 50px;
}
.logo {
  max-width: 35px;
}
@media (max-width: 767px) {
  #sidebar-wrapper {
    left: -100%;
    width: 100%;
  }
  .show-sidebar #content-wrapper {
    margin-left: 0px;
  }
}
</style>
