<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{title}}</h1>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <component :is="item" v-if="item != 'Home'"></component>
            <component :is="getHome()" v-if="item == 'Home'"></component>
        </div>
    </div>
</template>
<script>
import MyPurchases from '../components/Customer/MyPurchases';
import MyPurchase from '../components/Customer/MyPurchase';
import Dashboard from '../components/Dashboard';
import Store from '../components/Sale/Store';
import SalesReport from '../components/Report/SalesReport';
import SaleReport from '../components/Report/SaleReport';
import PurchaseReport from '../components/Report/PurchaseReport';
import PurchasesReport from '../components/Report/PurchasesReport';
import CustomerReport from '../components/Report/CustomerReport';
import CustomersReport from '../components/Report/CustomersReport';
import SupplierReport from '../components/Report/SupplierReport';
import SuppliersReport from '../components/Report/SuppliersReport';

import Purchase from '../components/Purchase/Purchase';
import Purchases from '../components/Purchase/Purchases';
import Sale from '../components/Sale/Sale';
import Sales from '../components/Sale/Sales';
import Stock from '../components/Stock/Stock';
import Stocks from '../components/Stock/Stocks';
import Supplier from '../components/Supplier/Supplier';
import Suppliers from '../components/Supplier/Suppliers';
import Customer from '../components/Customer/Customer';
import Customers from '../components/Customer/Customers';
import FabricPattern from '../components/FabricPattern/FabricPattern';
import FabricPatterns from '../components/FabricPattern/FabricPatterns';
import Fabric from '../components/Fabric/Fabric';
import Fabrics from '../components/Fabric/Fabrics';
import Design from '../components/Design/Design';
import Designs from '../components/Design/Designs';
import Color from '../components/Color/Color';
import Colors from '../components/Color/Colors';
import User from '../components/User/User';
import Users from '../components/User/Users';
import UserSettings from '../components/User/UserSettings';

export default {
    props: ['title','item'],
    components: {
        User, Users, UserSettings, Color, Colors, MyPurchases, MyPurchase, Dashboard,
        Store, Design, Designs, Fabric, Fabrics, FabricPattern, FabricPatterns,
        Customer, Customers, Supplier, Suppliers, Stock, Stocks, Purchase, Purchases,
        Sale, Sales, SalesReport, SaleReport, PurchasesReport, PurchaseReport,
        CustomersReport, CustomerReport, SuppliersReport, SupplierReport
    },
    methods:{
        getHome(){
            const Homes = [
                {id:1, component: 'Dashboard'},
                {id:2, component: 'Store'},
                {id:3, component: 'MyPurchases'},
            ]
            const user = this.$store.state.user;
            return Homes.find(item => item.id == user.user_type).component;
        }
    }
}
</script>