<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="sku">Codigo</label>
          <input type="text" class="form-control" id="sku" v-model="item.sku">
        </div>
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="fabric_id">Tela</label>
              <select id="fabric_id" class="form-control" v-model="item.fabric_id" required>
                <option value="">Selecciona una tela</option>
                <option
                  :value="data.id"
                  v-for="(data,index) in fabrics"
                  :key="'fabric-'+index"
                >{{ data.name }}</option>
              </select>
          </div>
          <div class="form-group col-lg-4">
            <label for="design_id">Diseño</label>
              <select id="design_id" class="form-control" v-model="item.design_id">
                <option value="">Selecciona un diseño</option>
                <option
                  :value="data.id"
                  v-for="(data,index) in designs"
                  :key="'designs-'+index"
                >{{ data.name }}</option>
              </select>
          </div>
          <div class="form-group col-lg-4">
            <label for="color_id">Color</label>
              <select id="color_id" class="form-control" v-model="item.color_id">
                <option value="">Selecciona un color</option>
                <option
                  :value="data.id"
                  v-for="(data,index) in colors"
                  :key="'colors-'+index"
                >{{ data.name }}</option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <button v-if="!item.image" class="btn btn-success btn-sm" @click="showImage()" type="button" data-toggle="modal" data-target="#upload-image">
              Agregar Imagen<i class="fas fa-plus"></i>
          </button>
          <div class="img-container-sm" v-if="item.image">
              <img :src="item.image" class="img-fluid" @click="showImage()" data-toggle="modal" data-target="#show-image">
          </div>
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/gestion/modelos' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
        <div class="modal fade" id="show-image" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <img :src="image.src" class="img-fluid">
                    </div>
                    <div class="modal-footer text-right">
                        <button class="btn btn-danger" data-dismiss="modal" @click="deleteImage()"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="upload-image" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Subir Imagen
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="modal-image" @change="onImageChange($event,false)">
                                    <label class="custom-file-label" for="modal-image">Seleccionar imagen</label>
                                </div>
                            </div>
                        </div>
                        <img :src="image.src" class="img-fluid">
                    </div>
                    <div class="modal-footer text-right">
                        <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fas fa-trash"></i></button>
                        <button class="btn btn-success" @click="addImage()" data-dismiss="modal" v-if="image.src">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { sku: "", fabric_id:"", color_id:"", design_id:"", image:"" },
      fabrics: [],
      designs: [],
      colors: [],
      image: { src: "" }
    };
  },
  methods: {
    onImageChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        if(!files.length){
            this.image.src = "";
            return;
        }
        this.createImage(files[0]);
    },
    createImage(file) {
        let reader = new FileReader();
        let vm = this;
        reader.onload = (e) => {
            vm.image.src = e.target.result;
        };
        reader.readAsDataURL(file);
    },
    showImage(){
        this.image.src = this.item.image;
    },
    async addImage(){
        let vm = this;
        if(this.isUpdate){
            let formdata = new FormData();
            formdata.append('image', document.getElementById('modal-image').files[0]);
            await Util.fetch({ url:`/api/fabric_patterns/${this.item.id}/image`, method:"post", data:formdata })
            this.item.image = this.image.src;
        }
        else{
            this.item.image = this.image.src;
        }
    },
    async deleteImage(){
        let vm = this;
        if(this.isUpdate){
            await Util.fetch({ url:`/api/fabric_patterns/${this.item.id}/image`, method:"delete" })
            this.item.image = "";
        }
        else{
            this.image.src = "";
            this.item.image = "";
        }
    },
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/fabric_patterns/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/modelos");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/fabric_patterns",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/modelos");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    let [, fabrics] = await Util.fetch({ url: "/api/fabrics" });
    if (fabrics) this.fabrics = fabrics;
    let [, designs] = await Util.fetch({ url: "/api/designs" });
    if (designs) this.designs = designs;
    let [, colors] = await Util.fetch({ url: "/api/colors" });
    if (colors) this.colors = colors;
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/fabric_patterns/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>