<template>
  <div>
    <div class="row">
      <p class="col-12 col-sm-7">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
      <div class="col-12 col-sm-5">
        <div
          class="btn-group float-right"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page-1)"
            v-if="current_page != 1"
          >
            <i class="fas fa-arrow-left"></i>
          </button>
          <div>
            <label for="paginate">Cantidad</label>
            <select class="form-control" id="paginate" v-model="paginate" @change="getItems()">
              <option>10</option>
              <option>25</option>
              <option>50</option>
              <option>100</option>
            </select>
          </div>
          <div>
            <label for="page">Pagina</label>
            <select
              class="form-control"
              id="page"
              v-model="current_page"
              @change="getItems(current_page)"
            >
              <option v-for="page in pages" :key="'page-'+page" :value="page">{{page}}</option>
            </select>
          </div>
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page+1)"
            v-if="current_page != last_page"
          >
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col" class="text-center">Tela</th>
            <th scope="col" class="text-center">Diseño</th>
            <th scope="col" class="text-center">Color</th>
            <th scope="col" class="text-right">
              <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                <i class="fas fa-plus"></i>
              </router-link>
              <button class="btn btn-light btn-sm" @click="getItems()">
                <i class="fas fa-sync"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data,index) in items" :key="index">
            <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>{{data.id}}</router-link>
            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>{{data.sku}}</router-link>
            <router-link
              class="text-center"
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.fabric.name}}</router-link>
            <router-link
              class="text-center"
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.design?data.design.name:''}}</router-link>
            <router-link
              class="text-center"
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.color?data.color.name:''}}</router-link>
            <td class="text-right">
              <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
                <i class="fas fa-edit"></i>
              </router-link>
              <button class="btn btn-danger btn-sm" @click="deleteItem(data,index)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <p class="col-12">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      from: 1,
      to: 1,
      pages: [],
      last_page: 1,
      current_page: 1,
      paginate: 10,
      page: 1,
      total: 0,
      params: {},
      items: []
    };
  },
  methods: {
    getPages() {
      this.pages = [];
      for (let x = 0; x < this.last_page; x++) {
        this.pages.push(x + 1);
      }
    },
    async getItems(page = 1) {
      this.items = [];
      let [err, items] = await Util.fetch({
        url: `/api/fabric_patterns?page=${page}${
          this.paginate ? "&paginate=" + this.paginate : ""
        }`,
        params: this.params
      });
      if (items) {
        this.current_page = items.current_page;
        this.last_page = items.last_page;
        this.getPages();
        this.from = items.from;
        this.to = items.to;
        this.total = items.total;
        this.items = items.data;
      }
    },
    async deleteItem(data, index) {
      let [err] = await Util.fetch({
        url: `/api/fabric_patterns/${data.id}`,
        method: "delete"
      });
      if (!err) {
        this.items.splice(index, 1);
      }
    }
  },
  beforeMount() {
    this.getItems();
  }
};
</script>