<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Ejemplo: Blanco"
            v-model="item.name"
            required
          >
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input type="color" class="form-control" id="color" v-model="item.value">
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/gestion/colores' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { value: "#ffffff" }
    };
  },
  methods: {
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/colors/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/colores");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/colors",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/colores");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/colors/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>