<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Codigo</th>
              <th scope="col" class="text-center">Diseño</th>
              <th scope="col" class="text-center">Color</th>
              <th scope="col" class="text-center">Cantidad Restante</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data,index) in item.fabric_pattern" :key="index">
              <th scope="row">{{data.id}}</th>
              <td scope="row">{{data.sku}}</td>
              <td
                class="text-center"
                scope="row"
              >{{data.design?data.design.name:''}}</td>
              <td
                class="text-center"
                scope="row"
              >{{data.color?data.color.name:''}}</td>
              <td
                class="text-center"
                scope="row"
              >{{getStock(data.stock) | currency('')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="fabric_pattern_id">Modelo</label>
          <select
            id="fabric_pattern_id"
            class="form-control"
            v-model="stock.fabric_pattern_id"
            required
          >
            <option value>Selecciona un modelo</option>
            <option
              :value="data.id"
              v-for="(data,index) in item.fabric_pattern"
              :key="'fabric-pattern-'+index"
            >{{ data.sku }} {{ data.design ? data.design.name:'' }} {{ data.color ? data.color.name:'' }}</option>
          </select>
        </div>
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="roll_quantity">Rollos</label>
            <input
              type="number"
              class="form-control"
              id="roll_quantity"
              v-model="stock.roll_quantity"
              required
            >
          </div>
          <div class="form-group col-lg-4">
            <label for="quantity">Cantidad Total</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              v-model="stock.quantity"
              step="any"
              :min="stock.remaining_quantity"
              required
            >
          </div>
          <div class="form-group col-lg-4">
            <label for="remaining_quantity">Cantidad Restante</label>
            <input
              type="number"
              class="form-control"
              id="remaining_quantity"
              v-model="stock.remaining_quantity"
              step="any"
              required
              :max="stock.quantity"
            >
          </div>
        </div>
        <div class="text-right">
          <router-link :to="{ path:'/almacen' }" class="btn btn-warning" v-if="!isModal">Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn btn-success"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      stock: {},
      item: {},
      fabric_patterns: []
    };
  },
  methods: {
    getStock(stocks) {
      let stock = 0;
      stocks.forEach(element => {
        stock += parseFloat(element.remaining_quantity)
      });
      return stock;
    },
    saveOrUpdate() {
      this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/stocks/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/almacen");
        else {
          this.item.name = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/stocks",
        method: "post",
        data: this.stock
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/almacen");
        else {
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    /*let [, fabric_patterns] = await Util.fetch({ url: "/api/fabric_patterns", params: {
      search: {
        filters: [{field:'fabric_id',value: this.$route.params.id}]
      }
    } });
    if (fabric_patterns) this.fabric_patterns = fabric_patterns;*/
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/stocks/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>